* {
  box-sizing: border-box;
}

body {
  background-color: #160103 !important;
}

.notFoundWrap {
  font-family: "notosans";
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  background: url("./notimg.png");
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.logoimg {
  margin-top: 50px;
}
.number {
  font-size: 200px;
  font-weight: bold;
  font-family: "Optima";
}
.line {
  width: 450px;
}
.notFouDes {
  margin-top: 20px;
  font-size: 50px;
  font-weight: bold;
}

.gomainBtn {
  width: 233px;
  height: 48px;
  border: 3px solid #c55656;
  box-sizing: border-box;
  border-radius: 50px;
  font-size: 18px;
  color: #c55656;
  background: rgba(0, 0, 0, 0);
  margin: 100px 0;
  font-weight: bold;
}

@media (max-width: 500px) {
  .notFoundWrap {
    width: 100%;
    padding: 0 20px;
  }
  .logoimg {
    width: 30vw;
  }
  .line {
    width: 100%;
  }
  .number {
    font-size: 30vw;
  }
  .notFouDes {
    font-size: 13vw;
  }
  .gomainBtn {
    font-size: 15px;
    width: 50vw;
    margin: 50px;
  }
}
