* {
  box-sizing: border-box;
}

.app {
  display: block;
}
body {
  background: linear-gradient(90deg, #0a0001 0%, #030015 103.11%);
}
.loginWrap {
  font-family: "notosans";
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: url("./mainbackimg.png") no-repeat center center; */
  background-size: cover;
  color: white;
  text-align: center;
}
.mainlogo {
  margin: 70px 0 -20px 0;
}
.bigtext {
  font-size: 50px;
  font-family: "optima";
  font-weight: bold;
}
.smalltext {
  font-size: 15px;
  margin-bottom: 50px;
}

.contractWrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 60px;
}

.linkBtn {
  padding: 8px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 0.42rem;
  text-decoration: none;
  color: white;
  transition: color 0.15s ease, background-color 0.15s ease,
    border-color 0.15s ease, box-shadow 0.15s ease,
    -webkit-box-shadow 0.15s ease;
}
.linkBtn:hover {
  color: #3f4254;
  background-color: white;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
}

.loginInput {
  width: 450px;
  height: 48px;
  border-radius: 50px;
  border: 0px solid white;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  padding: 15px 30px;
  margin-bottom: 23px;
}
.loginInput:focus {
  outline: none;
}
.loginInput::placeholder {
  color: white;
}

.loginBtn {
  width: 450px;
  height: 48px;
  border-radius: 50px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.tronLoginWrap {
  margin: 40px 0px;
}
.tronBtn {
  width: 450px;
  height: 60px;
  background: #6469be;
  border: 0px;
  border-radius: 9px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  position: relative;

  min-width: 280px;
}
.tronlogo {
  position: absolute;
  left: 0;
  top: 0;
}

.signupWrap {
  margin: 40px 0px;
}
.signupBtn {
  width: 233px;
  height: 48px;
  border-radius: 50px;
  border: 3px solid #c55656;
  background-color: rgba(255, 255, 255, 0);
  color: #c55656;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.orWrap {
  width: 450px;
  height: 15px;
  display: flex;
  align-items: center;
}
.line {
  height: 1px;
  width: 100%;
}
.orText {
  font-size: 15px;
  color: white;
  margin: 0px 15px;
}

@media (max-width: 450px) {
  .loginWrap {
    padding: 0 15px;
  }
  .bigtext {
    font-size: 15vw;
  }

  .loginContainer {
    width: 100%;
  }

  .walletLoginWrap {
    width: 100%;
  }
  .loginInput {
    width: 100%;
  }
  .loginBtn {
    width: 100%;
  }

  .tronLoginWrap {
    width: 100%;
  }
  .tronBtn {
    width: 100%;
    font-size: 16px;
  }

  .signupWrap {
    width: 60%;
  }
  .signupBtn {
    width: 60%;
  }

  .orWrap {
    width: 100%;
  }
}
